.cartas-container {
    position: fixed;
    left: 50%;
    bottom: -250px;
    /* Começa escondido para baixo */
    transform: translateX(-50%);
    opacity: 0;
    /* Começa invisível */
    display: flex;
    justify-content: center;
    /* Centraliza as cartas */
    gap: 10px;
    width: 100%;
    transition: bottom 0.5s ease, opacity 0.5s ease;
    z-index: 3000;
    pointer-events: none;
    /*background-color: rgba(0, 0, 0, 0.8); /* Fundo meio escuro */
    /*box-shadow: 0 -20px 30px rgba(0, 0, 0, 1); /* Sombra forte para cima */
}


.cartas-container .card {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    pointer-events: auto;
    /* Permite clicar nas cartinhas se precisar */
    transition: transform 0.3s ease, filter 0.2s ease;
    position: relative;
    background-size: cover;
    /* Faz a imagem cobrir todo o card */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Garante que a imagem não se repita */
    cursor: pointer;
    /* Cursor muda para mãozinha (indicado para itens clicáveis) */
    color: white;
    scale: 0.9;
    filter: brightness(1);
}

.card:hover {
    filter: brightness(4);
    /* 0.3 = 60% mais escuro */
    transition: transform 0.3s ease, filter 0.2s ease;

}

.cartas-container .card:hover {
    transform: translateY(-10px);
}

/* Animação de Fade In Cartas*/
@keyframes fadeIn {
    0% {
        opacity: 0;
        /* Começa invisível */
    }

    100% {
        opacity: 1;
        /* Torna-se visível */
    }
}

/* Animação de Roll In */
@keyframes rollIn {
    0% {
        transform: translateX(-50%) translateY(100%);
        /* Começa fora da tela */
    }

    100% {
        transform: translateX(-50%) translateY(0);
        /* Vai para a posição final */
    }
}

/* Cartas específicas */
.carta-1 {
    z-index: 1;
    background-image: url('../source/Categorias/personal.png');
    /* Substitua pelo caminho da sua imagem */
}

.carta-2 {
    z-index: 2;
    background-image: url('../source/Categorias/work.png');
    /* Substitua pelo caminho da sua imagem */
}

.carta-3 {
    z-index: 1;
    background-image: url('../source/Categorias/credits.png');
    /* Substitua pelo caminho da sua imagem */
}

/* Hover para as cartas */
.carta-1:hover {
    transform: translateY(-50px) !important;
    width: 200px;
    height: 300px;
    z-index: 10;
}

.carta-2:hover {
    transform: translateY(-50px) !important;
    width: 200px;
    height: 300px;
    z-index: 10;
}

.carta-3:hover {
    transform: translateY(-50px) !important;
    width: 200px;
    height: 300px;
    z-index: 10;
}

/* Animações de pulsar */
@keyframes pulsar {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@keyframes salto {
    0% {
        transform: scale(2.1) translateY(0);
        /* Começa na posição original */
    }

    50% {
        transform: scale(2.1) translateY(-10px);
        /* Pula para cima (subindo 10px) */
    }

    100% {
        transform: scale(2.1) translateY(0);
        /* Retorna à posição original */
    }
}

/* Animação de fade-in para o fit */
@keyframes fadeInFit {
    0% {
        opacity: 0;
        /* Começa invisível */
    }

    100% {
        opacity: 1;
        /* Fica totalmente visível no final */
    }
}

/* Troca das imagens */
@keyframes trocarImg {
    0% {
        background-image: url('../source/Categorias/cartinhas.png');
        /* Imagem inicial */
    }

    30% {
        background-image: url('../source/Categorias/cartinhas_2.png');
        /* Troca para a imagem alternativa */
    }

    35% {
        background-image: url('../source/Categorias/cartinhas.png');
        /* Troca para a imagem alternativa */
    }

    40% {
        background-image: url('../source/Categorias/cartinhas_2.png');
        /* Volta para a imagem inicial */
    }

    50% {
        background-image: url('../source/Categorias/cartinhas_2.png');
        /* Troca novamente */
    }

    55% {
        background-image: url('../source/Categorias/cartinhas.png');
        /* Mantém a imagem inicial no fim do ciclo */
    }
}

/*=============== Galeria =========================== */

#icategorias {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  color: white;
  background-color: rgba(134, 134, 134, 0);
}

#icategorias h1{
    font-family: 'lemon milk', sans-serif;
    letter-spacing: 20px;
}


#igaleria {
    padding-bottom: 200px;
    /* Pode ajustar conforme necessário */
    margin-top: 60px;
}

/* Bloco de imagem */
.bloco {
    width: 95vw;
    height: 850px;
    margin: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    will-change: transform, opacity;
}



/* CSS PARA A GALERIA PESSOAL */


#rosa {
    background-color: pink;
    background: url('../source/Inicial/Banner/banner-coelho.png') no-repeat center center;
    background-size: cover;
    /* Ajusta para cobrir toda a div sem distorcer */
    background-position: center center;
    /* Mantém a imagem centralizada */

}

#azul {
    background-color: lightblue;
    background: url('../source/Inicial/Banner/miles\ na\ rua.jpg') no-repeat center center;
    background-size: cover;
    /* Ajusta para cobrir toda a div sem distorcer */
    background-position: center center;
    /* Mantém a imagem centralizada */
}

#cinza {
    background-color: lightgray;
    background: url('../source/Inicial/Banner/banner-coelho.png') no-repeat center center;
    background-size: cover;
    /* Ajusta para cobrir toda a div sem distorcer */
    background-position: center center;
    /* Mantém a imagem centralizada */
}

#branco {
    background-color: white;
    background: url('../source/Inicial/Banner/miles\ na\ rua.jpg') no-repeat center center;
    background-size: cover;
    /* Ajusta para cobrir toda a div sem distorcer */
    background-position: center center;
    /* Mantém a imagem centralizada */
}

#amarelo {
    background-color: lightyellow;
}



/* CSS para a galeria "Work" */

#trabalho1 {
    background-color: white;
    background: url('../source/Inicial/Banner/miles\ na\ rua.jpg') no-repeat center center;
    background-size: cover;
    /* Ajusta para cobrir toda a div sem distorcer */
    background-position: center center;
    /* Mantém a imagem centralizada */
}

#trabalho2 {
    background-color: white;
    background: url('../source/Inicial/Banner/miles\ na\ rua.jpg') no-repeat center center;
    background-size: cover;
    /* Ajusta para cobrir toda a div sem distorcer */
    background-position: center center;
    /* Mantém a imagem centralizada */
}

#trabalho3 {
    background-color: lightcoral;
    background: url('../source/Inicial/Galeria/work3.jpg') no-repeat center center;
    background-size: cover;
    /* Ajusta para cobrir toda a div sem distorcer */
    background-position: center center;
    /* Mantém a imagem centralizada */
}

#trabalho4 {
    background-color: white;
    background: url('../source/Inicial/Banner/miles\ na\ rua.jpg') no-repeat center center;
    background-size: cover;
    /* Ajusta para cobrir toda a div sem distorcer */
    background-position: center center;
    /* Mantém a imagem centralizada */
}


/* Classe que será adicionada para mostrar a div */
.mostrar {
    display: block !important;
}

/* Classe para esconder as divs */
.esconder {
    display: none !important;
}